.chosen-container {
    width: 100% !important;
    font-family: $font_head; 

    .js_custom_scroll {
        max-height: 168px;
    }

    .chosen-drop {
        background: $back_color;
        border-radius: $radius;
        overflow: hidden;
        box-shadow: 0 1px 4px rgba(0,0,0,0.3);
        border: none;
        margin-top: 2px;
        padding: 5px 2px;
    }

    .chosen-results {
        padding: 0 4px;
        margin: 0;
        max-height: none;

        li {
            font-size: $font_sz;
            color: $txt-color;
            line-height: 25px;
            font-family: $font;
            @include trs;
            
            &.highlighted {
                background: none;
                color: inherit;
            }
            
            &.result-selected{
                color: $primary_color_hover;
            } 
            &:hover {
                background: none;
                color: #a5d397;
            }

            &.no-results {
                background: none;
                color: $layout_color_dark;
                font-size: 12px;
                span{
                    background: none;
                    border: none;
                    color: $layout_color_dark;
                    padding: 5px 0px;
                    &:before{
                        display: none;
                    }
                    &:after{
                        display: none;
                    }
                    &:hover{
                        color: $layout_color_dark;
                        background: none;
                        border: none;
                    }
                }
            }

            &.group-result {
                padding: 5px 0 3px 3px;
                margin-top: 5px;
                border-top: 1px solid $layout_color_light;
                color: $layout_color_dark;
                font-weight: normal;

                &:first-child {
                    padding-top: 0;
                    border-top: none;
                }
            }
        }
    }
}
.chosen-with-drop + .icon{
    transition: transform .3s;
    transform: rotate(180deg);
}




.chosen-container-single .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container-active .chosen-single,
.chosen-container-active:hover .chosen-single {
    @extend ._inp_style;
    box-shadow: none;
    position: relative;
    font-weight: bold;
    line-height: 30px;
    color: $bg_dark;
}
.chosen-container-single .chosen-single {
    padding-right: 30px;
    span{
        margin-right: 0;
    }
}

.chosen-container-single .chosen-single:hover {
    border: 1px solid $txt-color_dark;
}
.chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid $primary_color;
}

.chosen-container-single .chosen-single div b,
.chosen-container-single .chosen-search input[type=text] {
    background: none;
}




.chosen-disabled {
    opacity: 1!important;

    & ~ .icon {
        fill: #b9b9b9;
    }

    .chosen-single {
        border-color: $layout_color_light !important;
        background: $common_bg-disabled !important;
    }

}

.chosen-container-single {
    .chosen-search {
        padding-left: 0;
        padding-right: 0;
    }
    .chosen-search input[type=text] {
        border-color: $layout_color_light;
        border-radius: $radius;
        padding-right: 5px;
    }
}




.chosen-container-multi .chosen-choices {
    @extend ._inp_style;
    box-shadow: none;
    padding: 0 30px 0 5px;
    min-height: $primary_height !important;
}

.chosen-container-active .chosen-choices {
    border-color: $primary_color_hover;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    padding: 0 5px;
    color: $txt-color_dark;
    font-family: $font;
    height: 36px;
}

.chosen-container-active .chosen-choices li.search-field input[type=text] {
    color: $txt-color!important;
}
.chosen-container-multi {

    .chosen-drop {
        padding: 0;
        .result-selected {
            color: $layout_color_dark;
            &.result-selected{
                color: $primary_color_hover;
                span{
                    background-color: $primary_color_hover;
                    padding: 5px 10px;
                    &:before{
                        display: none;
                    }
                    &:after{
                        display: none;
                    }
                }
            } 
        }
        li{
            padding: 1px 0px 0px 6px;
            border-bottom: 1px solid $layout_color_light;
            span{
                @include trs;
                display: inline-block;
                color: $back_color;
                position: relative;
                height: 24px;
                background: $layout_color_dark;
                border: none;
                border-radius: $radius;
                padding: 5px 10px 5px 32px;
                line-height: 15px;
                margin: 5px 5px 5px 0;
                &:hover{
                    background: $primary_color;
                    color: $back_color;
                }
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 10px;
                    background-color: $back_color;
                    width: 9px;
                    height: 2px;
                    left: 9px;
                    transform: rotate(90deg);
                }
                &:after{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 10px;
                    background-color: $back_color;
                    width: 9px;
                    height: 2px;
                    left: 9px;
                    transform: rotate(180deg);
                }
            }
        }
    }
    .chosen-results{
        padding: 0;
        margin: 0;
    }

    .mCSB_inside > .mCSB_container{
        margin: 0;
    }


.chosen-choices li.search-choice {
    @include trs;
    background: $txt-color_dark;
    border: none;
    border-radius: $radius;
    color: $back_color;
    padding: 1px 32px 1px 10px;
    margin: 5px 5px 5px 0;
    height: 28px;
    cursor: pointer;
    border: 1px solid $txt-color_dark;
    box-shadow: none;
    
    .search-choice-close {
        width: 13px;
        height: 13px;
        background-repeat: no-repeat;
        transition: none;
        right: 6px;
        top: 12px;
        &:before {
            content: "";
            display: block;
            position: absolute;
            background-color: $back_color;
            width: 13px;
            height: 2px;
            transform: rotate(45deg);
        }
        &:after{
            content: "";
            display: block;
            position: absolute;
            background-color: $back_color;
            width: 13px;
            height: 2px;
            transform: rotate(135deg);
        }
    }
    &:hover {
        background: none;
        border: 1px solid $txt-color_dark;
        color: $txt-color_dark;
        .search-choice-close{
            &:before {
                background-color: $txt-color_dark;
            }
            &:after {
                background-color: $txt-color_dark;
            }
        }
    }
}

    .chosen-choices li.search-choice span {
        line-height: 23px;
    }
}
