$primary_color:  #4ba82e;
$primary_color_hover:  #377220;

$layout_color_light: #dddddd;
$layout_color_dark: #b4b4b4;

$txt-color: #555555;

$alarm_color: #ef2323;
$alarm_color_hover: #ff5f45;
$notice_color: #fff5b4;

$common_bg-disabled:  #f0f0f0;


$input_error_color: #fff4b6;

$bg_dark: #2b2b2b;
$txt-color_dark: #111111;
$color_inp_title: #1e1e1e;
$iconСolor: #c0c7c9;


$back_color: #ffffff;


$font: 'SkodaPro', sans-serif;
$font_head: 'SkodaPro', sans-serif;
$font_w: normal;
$font_sz: 14px;
$font_sz_inp-txt: 13px;

$primary_height: 40px;
$input_txt_height: 36px;
$btn_height_large: 50px;

$radius: 3px;

$duration: .3s;

@mixin trs {
    transition: color .3s, border-color .3s, background .3s, fill .3s;
}

@mixin alm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* ==============================
          HELPERS
   ============================== */
.ul_simple {
  padding:0;
  margin: 0;
  list-style: none;
  list-style-image:none;
  li {
    margin: 0;
    padding: 0;
    &:before {
      display: none;
    }
  }
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

.fl_right {float: right!important;}

.fl_left {float: left!important;}

.txt_center {text-align: center!important;}

.txt_right {text-align: right!important;}

.middle_valing {vertical-align: middle!important;}
.top_valing {vertical-align: top!important;}

.mt0 {margin-top: 0!important}
.mt5 {margin-top: 5px!important}
.mt10 {margin-top: 10px!important}
.mt20 {margin-top: 20px!important}
.mt30 {margin-top: 30px!important}
.mt40 {margin-top: 40px!important}

.mb0 {margin-bottom: 0!important}
.mb5 {margin-bottom: 5px!important}
.mb10 {margin-bottom: 10px!important}
.mb20 {margin-bottom: 20px!important}
.mb30 {margin-bottom: 30px!important}
.mb40 {margin-bottom: 40px!important}

.mr0 {margin-right: 0!important}
.mr10 {margin-right: 10px!important}
.mr20 {margin-right: 20px!important}
.mr30 {margin-right: 30px!important}
.mr40 {margin-right: 40px!important}

.ml0 {margin-left: 0px!important}
.ml10 {margin-left: 10px!important}
.ml20 {margin-left: 20px!important}
.ml30 {margin-left: 30px!important}
.ml40 {margin-left: 40px!important}

.f_bold {font-weight: bold!important}
.nowrap {white-space: nowrap!important}
.wrap {
  word-wrap: break-word;
  word-break: break-all;
}

.justify_content {
    display: flex; 
    justify-content: space-between;
    flex-direction: row;
    &:after {
        display: none;
    }
}

.hidden {
    display: none!important;
}

.light_txt {
    color: $layout_color_dark!important;
}

.auto_width {
  width: auto!important;
}











