.dwa_popup{
	.popup_title{
		font-size: 20px;
		text-align: center;
		color:$txt-color_dark;
		line-height: 1.3em;
		font-family: $font_head;
		font-weight: bold;
	}
	.popup_main-pic{
		margin: 30px 0 35px 0;
	}
	.popup_main-txt{
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		color:$txt-color_dark;
		font-family: $font_head;
		margin-bottom: 45px;
	}
	.popup_accordion-container{
		width: 620px;
		margin-right: 20px;
		border: 1px solid $layout_color_light;
		border-radius: $radius;
		h1{
		    margin: 17px 0 0 17px;
		}
		.btns_wrap{
			margin: 15px 18px 0 0;
		}
		.accordion_wrapper{
		    margin-top: 12px;
		    margin-bottom: 0px;
		}
	}
	.about{
		width: 262px;
		padding: 17px 17px 0 17px;
		border-radius: $radius;
		position: relative;
		&.contacts{
			border: 1px solid $layout_color_light;
			margin-bottom: 25px;
		}
		&.resources{
			border: 1px solid $layout_color_light;
			h1{
				margin-bottom: 13px;
			}
			.resources_item{
				border-bottom: 1px solid $layout_color_light;
				margin: 0 -17px;
				padding: 20px 17px 18px 17px;
			}
			.about_link{
				margin-top: -7px;
			}
		}
		.accordion_wrapper{
			margin: 18px -17px 0 -17px;
			border-top: 1px solid $layout_color_light;
		}
		.icons_container{
			position: absolute;
			right: 17px;
			top: 17px;
			.btn{
				display: inline-block;
				cursor: pointer;
				.icon{
					fill: $layout_color_light;
				}
				&:hover{
					.icon{
						fill: $primary_color_hover;
					}
				}
			}
		}
	}
	.about_name{
		font-size: $font_sz;
		font-weight: bold;
		color: $txt-color_dark;
	    margin-top: -2px;
		margin-bottom: 17px;
	}
	.about_text{
		font-size: $font_sz;
		color: $txt-color_dark;
	}
	.about_link{
		color: #59af3f;
		margin-top: 7px;
		&:link{
			color: #59af3f;
		}
		&:visited{
			color: $primary_color_hover;
		}
		&:hover{
			color: $primary_color_hover;
		}
		&:active{
			color: #59af3f;
		}
	}
}