@font-face {
    font-family: 'SkodaPro';
    src: url('../fonts/skodapro_extrabold.eot');
    src: url('../fonts/skodapro_extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/skodapro_extrabold.woff2') format('woff2'),
         url('../fonts/skodapro_extrabold.woff') format('woff'),
         url('../fonts/skodapro_extrabold.ttf') format('truetype'),
         url('../fonts/skodapro_extrabold.svg#skoda_proextrabold') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'SkodaPro';
    src: url('../fonts/skodapro_bold.eot');
    src: url('../fonts/skodapro_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/skodapro_bold.woff2') format('woff2'),
         url('../fonts/skodapro_bold.woff') format('woff'),
         url('../fonts/skodapro_bold.ttf') format('truetype'),
         url('../fonts/skodapro_bold.svg#skoda_probold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SkodaPro';
    src: url('../fonts/skodapro_regular.eot');
    src: url('../fonts/skodapro_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/skodapro_regular.woff2') format('woff2'),
         url('../fonts/skodapro_regular.woff') format('woff'),
         url('../fonts/skodapro_regular.ttf') format('truetype'),
         url('../fonts/skodapro_regular.svg#skoda_proregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SkodaPro';
    src: url('../fonts/skodapro_medium.eot');
    src: url('../fonts/skodapro_medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/skodapro_medium.woff2') format('woff2'),
         url('../fonts/skodapro_medium.woff') format('woff'),
         url('../fonts/skodapro_medium.ttf') format('truetype'),
         url('../fonts/skodapro_medium.svg#skoda_promedium') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SkodaPro';
    src: url('../fonts/skodapro_bolditalic.eot');
    src: url('../fonts/skodapro_bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/skodapro_bolditalic.woff2') format('woff2'),
         url('../fonts/skodapro_bolditalic.woff') format('woff'),
         url('../fonts/skodapro_bolditalic.ttf') format('truetype'),
         url('../fonts/skodapro_bolditalic.svg#skodapro_bolditalic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'SkodaPro';
    src: url('../fonts/skodapro_light.eot');
    src: url('../fonts/skodapro_light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/skodapro_light.woff2') format('woff2'),
         url('../fonts/skodapro_light.woff') format('woff'),
         url('../fonts/skodapro_light.ttf') format('truetype'),
         url('../fonts/skodapro_light.svg#skoda_prolight') format('svg');
    font-weight: 100;
    font-style: normal;

}