.ui-rangeSlider {
	height: 15px;
	background: $layout_color_light;
	border-radius: 20px;
	
	.ui-rangeSlider-innerBar {
		height:15px;
		margin: 0;
	}

	.ui-rangeSlider-handle {
		width:1px;
		height:15px;
		cursor:col-resize;
	}

	.ui-rangeSlider-bar{
		margin: 0;
		background: $primary_color;
		height:15px;
		cursor:move;
		cursor:grab;
		cursor: -moz-grab;

		&.ui-draggable-dragging{
			cursor:	-moz-grabbing;
			cursor:grabbing;
		}
	}
}

.ui-rangeSlider-handle-inner {
	width:20px;
	height:20px;
	position: relative;
	background: #fff;
	left: -10px;
	top: -3px;
	border-radius: 50%;
	box-shadow: 0 3px 3px rgba(0,0,0,.3);

	&:before {
		content: "";
		display: block;
		width: 6px;
		height: 6px;
		background: $primary_color;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -3px;
		margin-top: -3px;
	}
}

.ui-rangeSlider-arrow{
	height:16px;
	margin:2px 0;
	width:16px;
	background-repeat:no-repeat;

	&.ui-rangeSlider-leftArrow{
		background-position:center left;
	}

	&.ui-rangeSlider-rightArrow{
		background-position:center right;
	}
}

.ui-rangeSlider-arrow-inner{
	display: none;
}

.ui-rangeSlider-container{
	height:15px;
}

.ui-rangeSlider-withArrows .ui-rangeSlider-container{
	margin:0 11px;
}

.ui-rangeSlider-noArrow .ui-rangeSlider-container{
	margin:0 10px;
}

.ui-rangeSlider-label{
	margin:0 2px 2px;
	background-position:bottom center;
	background-repeat:no-repeat;
	white-space: nowrap;
	bottom:-29px;
	padding:3px 6px 7px;
	cursor:col-resize;
	font-size: 10px;
}

.ui-rangeSlider-label-inner{
	display:none;
}

/*
 * Edit slider
 */

input.ui-editRangeSlider-inputValue{
	width:3em;
	vertical-align: middle;
	text-align:center;
}


//custom

.slider_filter_wrap {
	padding-bottom: 30px;
	margin-bottom: 30px;

	.theme_btn {
		margin-top: 20px;
	}

    .switcher_block {
        margin-top: 20px;
        margin-left: 30px;
    }
}

.slider_wrapper {
    width: 580px;
    margin: -20px 20px 0;
}
.scale_wrap {
    width: 615px;
    overflow: hidden;
    margin: 0 -15px 6px;
}
.scale_item {
    color: $layout_color_dark;
    font-size: 10px;
    text-align: center;
    padding-bottom: 10px;
    position: relative;
    &:before {
        content: "";
        display: block;
        background: $layout_color_dark;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 1px;
        height: 9px;
    }
    &.start {
        float: left;
    }
    &.end {
        float: right;
    }
}



