.mCSB_scrollTools {
    opacity: 1;
    width: 3px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    width: 3px;
    background: $layout_color_dark;
    border-radius: 3px; 
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background: $txt-color_dark
}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
    background: $txt-color_dark
}

.mCSB_scrollTools .mCSB_draggerRail {
    width: 4px;
    border-radius: 3px;
    background: $common_bg-disabled;
}


.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    width: 100%;
    height: 4px;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    margin: 7px auto;
    width: 100%;
    height: 4px;
}
    

.primary_table {
    .mCSB_scrollTools.mCSB_scrollTools_horizontal {
        height: 4px;
    }
    .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail,
    .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
        margin: 0;
    }
    .mCSB_horizontal.mCSB_inside > .mCSB_container {
        margin-bottom: 2px;
    }
    .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
        background: #fff;
    }

    &.table_inside_form {
        .mCSB_scrollTools.mCSB_scrollTools_horizontal {
            border-bottom: 1px solid $common_bg-disabled;
        }
    }
}

.mCSB_inside > .mCSB_container {
    margin-right: 20px;
}
