/.idea/
!/bitrix
/bitrix/*
!/bitrix/wizards
/bitrix/wizards/*
!/bitrix/wizards/kodix
!/bitrix/templates
/bitrix/templates/*
!/bitrix/templates/kit
!/bitrix/php_interface
/bitrix/php_interface/*
!/bitrix/php_interface/include
/bitrix/php_interface/include/*
!/bitrix/php_interface/include/catalog_import
/bitrix/php_interface/include/catalog_import/*
!/bitrix/php_interface/include/catalog_import/kdx*
!/bitrix/php_interface/include/sale_delivery
/bitrix/php_interface/include/sale_delivery/*
!/bitrix/php_interface/include/sale_delivery/delivery_kdx*
!/bitrix/php_interface/include/sale_payment
/bitrix/php_interface/include/sale_payment/*
!/bitrix/php_interface/include/sale_payment/kdx*
/upload/
/ru/upload
/ru/bitrix
/ru/local
/en/upload
/en/bitrix
/en/local
robots.txt
Thumbs.db
.DS_store
/local/modules/kodix.main
/local/modules/kodix.sale
/local/modules/kodix.smartgallery
/html/node_modules
/bower_components
/node_modules
/build
/html/bower_components
/HTML/node_modules
/HTML/bower_components
/HTML/build
*.css.map
*.js.map