<!-- FILTER BLOCK -->
    <div class="filter_wrapper clearfix js_filter">
        <div class="inside_wrapper">

            <form>
                <div class="form_field">

                    <div class="field_item_wrap search_inp">
                       <input type="text" class="inp_txt js_magicsuggest" placeholder="Введите название документа">
                    </div>
                    <div class="field_item_wrap">
                       <input type="submit" class="theme_btn fl_right" value="Найти">
                    </div>


                </div><!--/form_field-->

                <div class="form_field">
                    <div class="field_item_wrap fl_left">
                        <label class="inp_checkbox">
                            <input type="checkbox">
                            <span class="check_icon">
                                <svg class="icon">
                                    <use xlink:href="resources/img/sprite.svg#Check">
                                </svg> 
                            </span>
                            <span class="title">Искать в текущем разделе</span>
                        </label>
                    </div>

                    <div class="field_item_wrap">
                        <div class="field_elem select_wrap field_small_filter">
                            <select class="js_chosen_select">
                                <option>За период</option>
                                <option>За день</option>
                                <option>За неделю</option>
                                <option>За месяц</option>
                                <option>За год</option>
                            </select>
                            <svg class="icon">
                                <use xlink:href="resources/img/sprite.svg#dropdown_list-marker">
                            </svg>
                        </div>
                    </div>

                    <div class="field_item_wrap ml20">
                        <div class="field_title">с</div>
                        <div class="field_elem datepicker_wrap mr10">              
                            <input type="text" class="inp_txt js_datepicker js_date_mask">
                            <svg class="icon icon_calendar js_datepicker_show">
                                <use xlink:href="resources/img/sprite.svg#Calendar_small">
                            </svg> 
                        </div>
                        <div class="field_title">по</div>
                        <div class="field_elem datepicker_wrap">
                            <input type="text" class="inp_txt js_datepicker js_date_mask">
                            <svg class="icon icon_calendar js_datepicker_show">
                                <use xlink:href="resources/img/sprite.svg#Calendar_small">
                            </svg> 
                        </div>
                    </div>

                    <div class="field_item_wrap ml20">
                        <div class="field_title">Расширение файла</div>
                        <div class="field_elem select_wrap field_small_filter">
                            <select class="js_chosen_select">
                                <option>Все</option>
                                <option>Расширение</option>
                                <option>Все</option>
                                <option>Расширение</option>
                                <option>Все</option>
                                <option>Расширение</option>
                            </select>
                            <svg class="icon">
                                <use xlink:href="resources/img/sprite.svg#dropdown_list-marker">
                            </svg>
                        </div>
                    </div>

                   
                </div><!--/form_field-->
            </form>

        </div><!--/inside_wrapper-->
    </div><!--/filter_wrapper-->