    </div><!--/main_wrapper-->

    <footer class="main_footer">
        <div class="inside_wrapper wide">
            <div class="left-col">
                 <ul class="footer_links">
                    <li><a href="#">Dealer Marketing Management</a></li>
                    <li><a href="#">Пресс-база ŠKODA Auto Россия</a></li>
                    <li><a href="#">BTL-портал ŠKODA Auto Россия</a></li>
                    <li><a href="#">Сайт ŠKODA Auto Россия</a></li>
                </ul>
            </div>
            <div class="right-col">
                <div class="copyright">© ŠKODA AUTO Россия 2015</div>
                <div class="feedback-btn"> Обратная связь</div>
            </div>
        </div>
    </footer>


    <!-- SCRIPTS -->
    <script src="resources/js/libs.js"></script>
    <script src="resources/js/main.js"></script>
    <script src="temp/layout.js"></script><!-- js only for verstka, not for production-->



