        <!-- SIDEBAR BLOCK -->
        <aside class="sidebar_wrapper">
            <div class="sidebar_add">
                <ul class="sidebar_add_menu">
                    <li class="menu_list_item">
                        <a href="#" class="menu_item"><!-- add class 'active' -->
                            <svg class="icon favorites"><use xlink:href="resources/img/sprite.svg#Favorites"></use></svg>
                            <span class="title">список дилеров</span>
                        </a>
                    </li>
                    <li class="menu_list_item">
                        <a href="#" class="menu_item">
                            <svg class="icon icon_bufer"><use xlink:href="resources/img/sprite.svg#Bufer"></use></svg>
                            <span class="title">заявки на регистрацию</span>
                        </a>
                    </li>
                    <li class="menu_list_item">
                        <a href="#" class="menu_item">
                            <svg class="icon claim"><use xlink:href="resources/img/sprite.svg#Claim"></use></svg>
                            <span class="title">список пользователей</span>
                        </a>
                    </li>
                </ul><!-- /sidebar_menu -->
                <div class="txt_center"><a href="#" class="theme_btn"><svg class="icon icon_plus"><use xlink:href="resources/img/sprite.svg#Add"></use></svg>Добавить дилера</a></div>
            </div>
            <div class="sidebar_main">
                <a href="#" class="logo"><i class="logo_icon"></i></a>
                <ul class="sidebar_menu">
                    <li class="menu_list_item">
                        <a href="#" class="menu_item"><!-- add class 'active' -->
                            <span class="content_wrap">
                                <svg class="icon favorites">
                                    <use xlink:href="resources/img/sprite.svg#Favorites">
                                </svg>
                                <span class="title">избранное</span>
                            </span>
                            <span class="amount_stick">2</span>
                        </a>
                    </li>
                    <li class="menu_list_item">
                        <a href="#" class="menu_item">
                            <span class="content_wrap">
                                <svg class="icon materials">
                                    <use xlink:href="resources/img/sprite.svg#Materials">
                                </svg>
                                <span class="title">новые материалы</span>
                            </span>
                            <span class="amount_stick">9</span>
                        </a>
                    </li>
                    <li class="menu_list_item">
                        <a href="#" class="menu_item js_open_sidebar">
                            <span class="content_wrap">
                                <svg class="icon dots">
                                    <use xlink:href="resources/img/sprite.svg#Dots">
                                </svg>
                                <span class="title">ещё</span>
                            </span>
                        </a>
                    </li>
                   
                </ul><!-- /sidebar_menu -->
            </div>
           
            
        </aside><!-- /sidebar_wrapper -->

        <div class="sidebar_back"></div>
