extends inc_templates/page

block title 
	title Hello world title
block content
	h1 Hello World
	p dsadsdsdasd
block body_closing_scripts
	script(src="resources/js/libs.js")
	script(src="resources/js/main.js")